.background
{
    -fx-background-color:  	#001f24;
}
.scroll-pane {
    -fx-background-color: 	#001f24;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:	#001f24;
}

.increment-button, .decrement-button {
    -fx-background-color: 	#001f24;
    -fx-border-color: 	#001f24;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: 	#001f24;
    -fx-border-color: 	#001f24;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}